<div class="row col-md-12">
  <h1>Using RxJS Subjects</h1>
</div>

<br />
<br />

<div class="row col-md-12">
  <div class="col-md-6">
    <h4>Subject</h4>
    <button (click)="startSubject()">Start Subject</button>
    <ul>
      <li> Subscriber1 at {{subjectSubscriber1TimeStamp | date:'mediumTime'}} => <span *ngIf="subjectSubscriber1Data"> {{ subjectSubscriber1Data?.value }} emitted at {{ subjectSubscriber1Data?.Time | date:'mediumTime' }}</span></li>
      <li> Subscriber2 at {{subjectSubscriber2TimeStamp | date:'mediumTime'}} => <span *ngIf="subjectSubscriber2Data"> {{ subjectSubscriber2Data?.value }} emitted at {{ subjectSubscriber2Data?.Time | date:'mediumTime' }}</span> </li>
      <li> Subscriber3 at {{subjectSubscriber3TimeStamp | date:'mediumTime'}} => <span *ngIf="subjectSubscriber3Data"> {{ subjectSubscriber3Data?.value }} emitted at {{ subjectSubscriber3Data?.Time | date:'mediumTime' }}</span></li>
      <li> Subscriber4 at {{subjectSubscriber4TimeStamp | date:'mediumTime'}} => <span *ngIf="subjectSubscriber4Data"> {{ subjectSubscriber4Data?.value }} emitted at {{ subjectSubscriber4Data?.Time | date:'mediumTime' }}</span></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Behavior Subject</h4>
    <button (click)="startBehaviorSubject()">Start BehaviorSubject</button>
    <ul>
      <li> Subscriber1 at {{behaviorSubjectSubscriber1TimeStamp | date:'mediumTime'}} => <span *ngIf="behaviorSubjectSubscriber1Data"> {{ behaviorSubjectSubscriber1Data?.value }} emitted at {{ behaviorSubjectSubscriber1Data?.Time | date:'mediumTime' }}</span></li>
      <li> Subscriber2 at {{behaviorSubjectSubscriber2TimeStamp | date:'mediumTime'}} => <span *ngIf="behaviorSubjectSubscriber2Data"> {{ behaviorSubjectSubscriber2Data?.value }} emitted at {{ behaviorSubjectSubscriber2Data?.Time | date:'mediumTime' }}</span> </li>
      <li> Subscriber3 at {{behaviorSubjectSubscriber3TimeStamp | date:'mediumTime'}} => <span *ngIf="behaviorSubjectSubscriber3Data"> {{ behaviorSubjectSubscriber3Data?.value }} emitted at {{ behaviorSubjectSubscriber3Data?.Time | date:'mediumTime' }}</span></li>
      <li> Subscriber4 at {{behaviorSubjectSubscriber4TimeStamp | date:'mediumTime'}} => <span *ngIf="behaviorSubjectSubscriber4Data"> {{ behaviorSubjectSubscriber4Data?.value }} emitted at {{ behaviorSubjectSubscriber4Data?.Time | date:'mediumTime' }}</span></li>
    </ul>
  </div>
</div>

<div class="row col-md-12">
  <div class="col-md-6">
    <h4>Replay Subject</h4>
    <button (click)="startReplaySubject()">Start ReplaySubject</button>
    <!-- <ul>
      <li> Subscriber1 at {{subjectSubscriber1TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber1Data }}</li>
      <li> Subscriber2 at {{subjectSubscriber2TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber2Data }}</li>
      <li> Subscriber3 at {{subjectSubscriber3TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber3Data }}</li>
    </ul> -->
  </div>
  <div class="col-md-6">
    <h4>Async Subject</h4>
    <button (click)="startAsyncSubject()">Start AsyncSubject</button>
    <!-- <ul>
      <li> Subscriber1 at {{subjectSubscriber1TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber1Data }}</li>
      <li> Subscriber2 at {{subjectSubscriber2TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber2Data }}</li>
      <li> Subscriber3 at {{subjectSubscriber3TimeStamp | date:'mediumTime'}} => {{ subjectSubscriber3Data }}</li>
    </ul> -->
  </div>
</div>
